<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/footer_style.css">
    <title>Document</title>
</head>
<style>
    @font-face {
        font-family: 'NanumBarunGothic';
        src: url('../../resources/fonts/NanumBarunGothic.ttf') format('truetype');
    }

    * {
	    font-family: NanumBarunGothic;
    }
</style>
<body>
    <div class="footer">
        <div class="inner-footer">
            <div class="logo">
                <img src="../../resources/image/logo_groumoa2.png">
                <br><br>
                <div class="copyright">그루모아는 통신판매중개자이며 모임에 대한 당사자 및 주최자가 아닙니다.<br> 
                따라서 그루모아는 등록된 모임에 대하여 책임을 지지 않습니다.</div>
                <br>
                <div class="copyright">copyright © GROUMOA.COM, All Rights Reserved.</div>
            </div>

            <div class="footer-third">
                <br>
                <a href="#"><h1>회사 소개</h1></a>
                <a href="../서비스약관및정책.html" onclick="window.open(this.href, '_blank', 
                'width=700px, height=750px, toolbars=no, scrollbars=no, resizable=no'); return false;">서비스 약관 및 정책</a>
                <a href="../개인정보취급방침.html" onclick="window.open(this.href, '_blank', 
                'width=700px, height=750px, toolbars=no, scrollbars=no, resizable=no'); return false;">개인 정보 취급 방침</a>
            </div>
            <div class="footer-third">
                <br>
                <h1>Shortcut</h1>
                <a href="#">문의하기</a>
                <a href="#">고객센터</a>
                <a href="#">연결(나중에 추가)</a>
                <a href="#">연결(없다면 빼기)</a>
            </div>
            <div class="footer-third">
                <br>
                <h1>Contact Us</h1>
                <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                
                <span>
                    (주)그루모아<br><br>
                    서울특별시 서초구 강남대로 79길 59 새로나빌딩 3층<br><br>
                    Tel) 02-1234-5678<br><br>
                    Fax) 02-1234-5678<br><br>
                    Email) webmaster@groumoa.com
                </span>
            </div>
        </div>
        <div> 
        </div>
    </div>
</body>
</html>