body {
    font-family: "Lato", sans-serif;
    background-color: #eaeaea;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .side-nav {
    height: 90%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #2f323a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .side-nav a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
/*  font-weight: 400;
    line-height: 1.5;
    line-height: 1.15; */
    transition: 0.3s;
  }
  
  .side-nav a:hover {
    color: white;
    background: darkred;
  }
  
  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
  }
  
  .header {
      height: 60px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(34, 36, 42);
  }

  .header button {
    color: #f2f2f2;
	  font-size: 12px;
	  border-radius: 4px;
	  border: 1px solid darkred !important;
	  padding: 5px 15px;
  	margin-right: 15px;
    background: darkred;
    position: absolute;
    top:18px;
    margin-left: 1200px;
    box-sizing:content-box; 
  }
  .header b {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 30px;
  }

  .header b span {
    color: darkred;
  }

  nav {
    background:white;
    overflow: auto;
    color : #eaeaea;
    height: 50px;
}

  /* #logo {
      margin-left: 40px;
  } */
  #logo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    width:50%;
    height:65px;
    vertical-align: baseline;
    box-sizing:content-box;    
  }

.search-form {
text-align: center;
}

.search-form input[type=text] {
padding: 7px;
border: none;
width: 300px;
border-radius: 50px;
font-size: 16px;
font-family: sans-serif;
margin-top: 7px;
float: left;
}

.search-form input[type=image]{
padding: 7px;
border: none;
border-radius: 10px;
float: left;
margin-top: 4px;
margin-left: 5px;
width: 30px;
height: 30px;        
}


/*
body {
    font-family: "Lato", sans-serif;
    background-color: #eaeaea;
    font-weight:400;
    line-height:1.5;
  }
  
  .side-nav {
    height: 90%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #2f323a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .side-nav a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .side-nav a:hover {
    color: white;
    background: darkred;
  }
  
  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
  }
  
  .header {
      height: 60px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(34, 36, 42);
  }

  .header button {
    color: #f2f2f2;
   font-size: 12px;
   border-radius: 4px;
   border: 1px solid darkred !important;
   padding: 5px 15px;
     margin-right: 15px;
    background: darkred;
    position: absolute;
    top:18px;
    margin-left: 1200px;
  }
  .header b {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 30px;
  }

  .header b span {
    color: darkred;
  }

  nav {
    background:white;
    overflow: auto;
    color : #eaeaea;
    height: 50px;
}
  #logo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    box-sizing:content-box;
    vertical-align:baseline;
  }

.search-form {
text-align: center;
}

.search-form input[type=text] {
padding: 7px;
border: none;
width: 300px;
border-radius: 50px;
font-size: 16px;
font-family: sans-serif;
margin-top: 7px;
float: left;
}

.search-form input[type=image]{
padding: 7px;
border: none;
border-radius: 10px;
float: left;
margin-top: 4px;
margin-left: 5px;
width: 30px;
height: 30px;        
}
*/