<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- 
        =================================== 공통 시작 ===================================  -->
    <!-- OFM Common Style -->
    <link rel="stylesheet" href="https://static.onoffmix.com/css/common/pc/common-pc.css">
    <!-- Common Script -->
    <script src="https://static.onoffmix.com/js/pc/dist/common/plugins/jquery-1.10.2.js"></script>
    <script src="https://static.onoffmix.com/js/pc/dist/common/plugins/jquery-ui-1.10.4.custom.js"></script>
    <script src="https://static.onoffmix.com/js/pc/dist/common/plugins/jquery.dotdotdot-1.5.0.js"></script>
    <!--[if lt IE 9]>
        <script src="https://static.onoffmix.com/js/pc/dist/common/plugins/html5shiv.min.js"></script>
        <script src="https://static.onoffmix.com/js/pc/dist/common/reponse.ie8.js"></script>
    <![endif]-->
    <!-- =================================== 공통 끝 ===================================  -->

    <!-- =================================== 화면 고유 시작 ===================================  -->
    <!-- OFM Style -->
    <link rel="stylesheet" href="https://static.onoffmix.com/css/pc/account/join.css">    <!-- =================================== 화면 고유 끝 ===================================  -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K5ZBGC5');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25312010-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-25312010-14');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
    <main id="content" class="join">
        <div class="content_wrapping max_width_area">
           
            <div class="main_area">
                <section class="main_content">
                                        <!-- 기존 -->
                                        <div class="top_area" align="center">
                                            <h1 class="gm-logo">
                                                <a href="#">
                                                    <img src="image/logo_groumoa2.png" alt="GROUMOA" style="width:20%; height:20%;">
                                                </a>
                                            </h1>
                                        </div>
                                       
                        <h1 class="title">회원가입</h1>

                    <div class="sub_content">
                                            
                        <form action="#" class="join_form" method="post" accept-charset="utf-8">
                            <input type="hidden" name="returnUrl" value="/">
                            <input type="hidden" name="join_type" id="join_type" value="web">
                            <fieldset class="area_require">
                                <legend class="sub_title">필수정보</legend>
                                <div class="email">
                                    <label for="">이메일(아이디)</label>
                                    <input type="email" id="email" class="emailbox" name="email" placeholder="이메일 주소 입력"
                                           data-parsley-checkemail-type="register_default_pc" value="">
                                    
                                </div>
                                
                                <div class="password">
                                    <label for="">비밀번호</label>
                                    <input type="password" id="password" class="password" name="userPwd" placeholder="비밀번호 입력 (최소 8자 이상)">
                                    
                                </div>
                                
                                <div class="password_chk">
                                    <label for="">비밀번호 확인</label>
                                    <input type="password" id="password_chk" class="password_check" name="userPwd2" placeholder="위의 비밀번호를 다시 입력해주세요">
                                    
                                </div>
                                
                                <div class="name">
                                    <label for="">이름</label>
                                    <input type="text" id="name" class="user_name" name="userName" placeholder="이름 입력 (최소 2자 이상)" value="">
                                    
                                </div>
                                
                                <div class="phone">
                                    <label for="">휴대전화 번호</label>
                                    <select id="cellphoneHead" class="selectmenu phone_head" name="phoneHead">
                                                                                <option value="010" >010</option>
                                                                                <option value="011" >011</option>
                                                                                <option value="016" >016</option>
                                                                                <option value="017" >017</option>
                                                                                <option value="018" >018</option>
                                                                                <option value="019" >019</option>
                                                                        </select>
                                    <input type="tel" id="cellphoneMain" class="phone_main" name="phoneBody" placeholder="“-” 없이 입력해 주세요" value="">
                                    
                                </div>
                                <div class="birthDate">
                                	<label for="">생년월일(예: 19940906)</label>
                                	<input type="text" id="birthDate" class="birthDate" name="birthDate">
                                </div>
                            </fieldset>
                            
                            <fieldset class="area_interest">
                                <legend class="sub_title">관심 정보</legend>
                                <p class="info_txt">개인별 맞춤 정보 제공</p>
                                <div class="interest_info">
                                    <article class="edit_interest">
                                        <h1 class="label">지역</h1>
                                        <div class="input_wrap">
                                            <div class="dropbox area">
                                                <div class="title_area">
                                                    <h5 class="box_title">
                                                        관심 지역 선택
                                                        <span class="count"> (<span class="number">0</span>)</span>
                                                    </h5>
                                                </div>
                                                <button type="button" class="btn_more">관심 지역 메뉴 펼치기 버튼</button>
                                                
                                                <div id="interest_area" class="detail_content">
                                                    <div class="area_list">
                                                        <div class="region_select">
                                                            <select class="selectmenu sido_list" name="INTEREST_AREA[0][SIDO]" id="select_sido0">
                                                                <option value="">시, 도 선택</option>
                                                                                                                                <option value="11">서울특별시</option>
                                                                                                                                <option value="26">부산광역시</option>
                                                                                                                                <option value="27">대구광역시</option>
                                                                                                                                <option value="28">인천광역시</option>
                                                                                                                                <option value="29">광주광역시</option>
                                                                                                                                <option value="30">대전광역시</option>
                                                                                                                                <option value="31">울산광역시</option>
                                                                                                                                <option value="36">세종특별자치시</option>
                                                                                                                                <option value="41">경기도</option>
                                                                                                                                <option value="42">강원도</option>
                                                                                                                                <option value="43">충청북도</option>
                                                                                                                                <option value="44">충청남도</option>
                                                                                                                                <option value="45">전라북도</option>
                                                                                                                                <option value="46">전라남도</option>
                                                                                                                                <option value="47">경상북도</option>
                                                                                                                                <option value="48">경상남도</option>
                                                                                                                                <option value="50">제주특별자치도</option>
                                                                                                                        </select>
                                                            <select class="selectmenu gugun_list"  name="INTEREST_AREA[0][GUGUN]" id="select_sido0_gugun">
                                                                <option value="">구, 군 선택</option>
                                                            </select>
                                                        </div>
                                                        <div class="region_select">
                                                            <select class="selectmenu sido_list" name="INTEREST_AREA[1][SIDO]" id="select_sido1">
                                                                <option value="">시, 도 선택</option>
                                                                                                                                <option value="11">서울특별시</option>
                                                                                                                                <option value="26">부산광역시</option>
                                                                                                                                <option value="27">대구광역시</option>
                                                                                                                                <option value="28">인천광역시</option>
                                                                                                                                <option value="29">광주광역시</option>
                                                                                                                                <option value="30">대전광역시</option>
                                                                                                                                <option value="31">울산광역시</option>
                                                                                                                                <option value="36">세종특별자치시</option>
                                                                                                                                <option value="41">경기도</option>
                                                                                                                                <option value="42">강원도</option>
                                                                                                                                <option value="43">충청북도</option>
                                                                                                                                <option value="44">충청남도</option>
                                                                                                                                <option value="45">전라북도</option>
                                                                                                                                <option value="46">전라남도</option>
                                                                                                                                <option value="47">경상북도</option>
                                                                                                                                <option value="48">경상남도</option>
                                                                                                                                <option value="50">제주특별자치도</option>
                                                                                                                        </select>
                                                            <select class="selectmenu gugun_list" name="INTEREST_AREA[1][GUGUN]"  id="select_sido1_gugun">
                                                                <option value="">구, 군 선택</option>
                                                            </select>
                                                        </div>
                                                        <div class="region_select">
                                                            <select class="selectmenu sido_list" name="INTEREST_AREA[2][SIDO]" id="select_sido2">
                                                                <option value="">시, 도 선택</option>
                                                                                                                                <option value="11">서울특별시</option>
                                                                                                                                <option value="26">부산광역시</option>
                                                                                                                                <option value="27">대구광역시</option>
                                                                                                                                <option value="28">인천광역시</option>
                                                                                                                                <option value="29">광주광역시</option>
                                                                                                                                <option value="30">대전광역시</option>
                                                                                                                                <option value="31">울산광역시</option>
                                                                                                                                <option value="36">세종특별자치시</option>
                                                                                                                                <option value="41">경기도</option>
                                                                                                                                <option value="42">강원도</option>
                                                                                                                                <option value="43">충청북도</option>
                                                                                                                                <option value="44">충청남도</option>
                                                                                                                                <option value="45">전라북도</option>
                                                                                                                                <option value="46">전라남도</option>
                                                                                                                                <option value="47">경상북도</option>
                                                                                                                                <option value="48">경상남도</option>
                                                                                                                                <option value="50">제주특별자치도</option>
                                                                                                                        </select>
                                                            <select class="selectmenu gugun_list" name="INTEREST_AREA[2][GUGUN]"  id="select_sido2_gugun">
                                                                <option value="">구, 군 선택</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <p class="tip_txt">관심지역은 최대 3개까지 설정 가능합니다.
                                                        <br>구, 군 단위까지 선택하여야 관심지역으로 설정됩니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    
                                    
                                    <article class="edit_interest">
                                        <h1 class="label">분야</h1>
                                        <div class="input_wrap">
                                            <div class="dropbox field">
                                                <div class="title_area">
                                                    <h5 class="box_title">
                                                        관심 분야 선택
                                                        <span class="count"> (<span class="number">0</span>)</span>
                                                    </h5>
                                                </div>
                                                <button type="button" class="btn_more">관심 분야 메뉴 펼치기 버튼</button>
                                                
                                                <ul id="interest_field" class="detail_content no_scroll">
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0001" name="INTEREST_FIELD[]" value="A0001">
                                                            <label for="interest_field_A0001">문화/공연</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0002" name="INTEREST_FIELD[]" value="A0002">
                                                            <label for="interest_field_A0002">게임/오락</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0003" name="INTEREST_FIELD[]" value="A0003">
                                                            <label for="interest_field_A0003">아웃도어/여행</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0004" name="INTEREST_FIELD[]" value="A0004">
                                                            <label for="interest_field_A0004">운동/스포츠</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0005" name="INTEREST_FIELD[]" value="A0005">
                                                            <label for="interest_field_A0005">인문학/책/글</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0006" name="INTEREST_FIELD[]" value="A0006">
                                                            <label for="interest_field_A0006">업종/직무</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0007" name="INTEREST_FIELD[]" value="A0007">
                                                            <label for="interest_field_A0007">외국/언어</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0008" name="INTEREST_FIELD[]" value="A0008">
                                                            <label for="interest_field_A0008">음악/악기</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0009" name="INTEREST_FIELD[]" value="A0009">
                                                            <label for="interest_field_A0009">패션/뷰티</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0010" name="INTEREST_FIELD[]" value="A0010">
                                                            <label for="interest_field_A0010">경제/금융/재테크</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0011" name="INTEREST_FIELD[]" value="A0011">
                                                            <label for="interest_field_A0011">공예/만들기</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0012" name="INTEREST_FIELD[]" value="A0012">
                                                            <label for="interest_field_A0012">댄스/무용</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0013" name="INTEREST_FIELD[]" value="A0013">
                                                            <label for="interest_field_A0013">사교/인맥</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0014" name="INTEREST_FIELD[]" value="A0014">
                                                            <label for="interest_field_A0014">사진</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0015" name="INTEREST_FIELD[]" value="A0015">
                                                            <label for="interest_field_A0015">차/오토바이</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0016" name="INTEREST_FIELD[]" value="A0016">
                                                            <label for="interest_field_A0016">요리/제조</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0017" name="INTEREST_FIELD[]" value="A0017">
                                                            <label for="interest_field_A0017">가족/결혼</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0018" name="INTEREST_FIELD[]" value="A0018">
                                                            <label for="interest_field_A0018">반려동물</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0019" name="INTEREST_FIELD[]" value="A0019">
                                                            <label for="interest_field_A0019">봉사활동</label>
                                                        </li>
                                                                                                        <li>
                                                            <input type="checkbox" id="interest_field_A0020" name="INTEREST_FIELD[]" value="A0020">
                                                            <label for="interest_field_A0020">자유주제</label>
                                                        </li>
                                                                                  
                                                                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                    
                                  
    
        <p class="tip_txt">※ 관심 정보는 입력하지 않아도 회원가입이 가능합니다.</p>
        </div>
        </fieldset>
    
        <fieldset class="area_agreement">
                                <legend class="sub_title">이용약관 / 개인정보 수집 및 이용 동의</legend>
                                <div class="agreement">
                                    <div class="all_check_area">
                                        <input type="checkbox" id="all" class="all_check">
                                        <label for="all">전체동의</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="chk1" class="check" name="">
                                        <label for="chk1">(필수) 만 14세 이상입니다.</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="chk2" class="check" name="AGREEMENT">
                                        <label for="chk2">(필수) 이용약관 동의</label>
                                        <a href="/api/legal/agreement" class="btn_view" title="이용약관 동의">내용보기</a>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="chk3" class="check" name="PRIVACY">
                                        <label for="chk3">(필수) 개인정보 수집 및 이용 동의</label>
                                        <a href="/api/legal/privacy" class="btn_view" title="개인정보 수집 및 이용 동의">내용보기</a>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="chk4" class="check" name="OFM0001">
                                        <label for="chk4">(선택) 이메일 수신</label>
                                        <span class="info_txt">단, 모임 참여와 관련된 정보는 수신동의 여부 관계없이 발송됩니다.</span>
                                    </div>
                                </div>
                            </fieldset>
                            
                            <input type="submit" class="btn_submit" value="가입 완료" style="background-color: darkred;">
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!-- Plugin -->

</body>
</html>