<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/header_style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <img src="image/logo_groumoa2.png">
            </div>
            <ul class="navigation">
                <a><li>추천동호회</li></a>
                <a><li>내모임</li></a>
                <a><li>공지사항</li></a>
                <a><li>QnA</li></a>
            </ul>
        </div>
    </div>
</body>
</html>